@import 'reset.css';


 footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: var(--rosaOscuro);
    color: var(--texto);
    justify-content: center;
    align-items: center;
}