@import 'reset.css';

.listado{
    text-align: center;
    margin: auto;
    margin-top: 22vh;
}

.listado .cont-peli{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 10rem; 
    width: 80%;
    height: fit-content;
    gap: 1rem;
}

.peli{
    flex: 1 0 1 ;
    width: 200px;
    height: fit-content;
    background-color: var(--grisClaro);
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.peli span{
    color: var(--rosaOscuro);
    text-transform: uppercase;
    font-weight: bolder;
    clear: both;
}
.peli img{
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.peli .fv-btn{
    width: 30px;
    height: 30px;
    background-color: var(--rosaOscuro);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
}
.fv-btn:hover{
    cursor: pointer;
    background-color: var(--rosaClaro);
}