@import 'reset.css';

header{
    background-color: var(--rosa);
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
}
ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
}
ul li a{
    text-decoration: none;
    margin: .5rem;
    color: var(--texto);
    font-size: 1.2rem;
    font-weight: 600;
}
